.container{
  text-align: center;
  font-size: larger;
  margin: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  section{
    display: inline-block;
  }
  section div{
    width: 300px;
    height: 100px;
  }
  .greenLight{
    background-color: green;
  }
  .yellowLight{
    background-color: yellow;
  }
  .redLight{
    background-color: red;
  }

  button{
    padding: 10px;
    margin: 10px;
    background-color: tomato;
    cursor: pointer;
    color: aliceblue;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: medium;
    border-radius: 10px;
  }
  button:hover{
    background-color: rgb(32, 83, 166);
  }

  .initial {
    background-color: transparent;
  }
}